In [16]:
!pip install jamo

Collecting jamo
  Downloading https://files.pythonhosted.org/packages/ac/cc/49812faae67f9a24be6ddaf58a2cf7e8c3cbfcf5b762d9414f7103d2ea2c/jamo-0.4.1-py3-none-any.whl
Installing collected packages: jamo
Successfully installed jamo-0.4.1

In [7]:
import pandas as pd

In [149]:
from jamo import h2j, j2hcj

In [163]:
root_dir = '/content/drive/MyDrive/Colab Notebooks/인공지능/해커톤 2차 baseline'
mode = 'train'

# Ver_1
## 1. input  
새 벽 출 조 시 \<SP\> 야 영 적 극 \<SP\> 권 장 하 ㅂ 니 다 \<SP\> .  
B_TI I_TI O O O \<SP\> O O O O \<SP\> O O O O O O \<SP\> O   

##2. output
ㅅㅐ ㅂㅕㄱ ㅊㅜㄹ ㅈㅗ ㅅㅣ \<SP\> ㅇㅑ ㅇㅕㅇ ㅈㅓㄱ ㄱㅡㄱ \<SP\> ㄱㅝㄴ ㅈㅏㅇ ㅎㅏ ㅂ ㄴㅣ ㄷㅏ \<SP\> .  
B_TI I_TI O O O \<SP\> O O O O \<SP\> O O O O O O \<SP\> O

In [164]:
test = pd.read_csv(f'{root_dir}/ner_{mode}.txt',
                   sep='\t',
                   quoting=csv.QUOTE_NONE,
                   header=None,
                   names=['sentence', 'ner'],
                   index_col=0)
test

In [165]:
print(test.iloc[0].sentence)
print(test.iloc[0].ner)

새 벽 출 조 시 <SP> 야 영 적 극 <SP> 권 장 하 ㅂ 니 다 <SP> .
B_TI I_TI O O O <SP> O O O O <SP> O O O O O O <SP> O

In [ ]:
#j2hcj(h2j(test['sentence'].iloc[0]))

In [166]:
test.sentence = test.sentence.apply(h2j)
test

                                               sentence                                                ner
366   새 벽 출 조 시 <SP> 야 영 적 극 <SP> 권 ...  B_TI I_TI O O O <SP> O O O O <SP> O O O O O O ...
367   한 편 <SP> 대 표 팀 은 <SP> 이 날 <SP> 거...  O O <SP> B_OG I_OG I_OG O <SP> O O <SP> B_OG I...
368   ' 천 재 <SP> 골 잡 이 ' <SP> 박 주 영 ( 2...  O B_PS I_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_...
369   이 건 희 <SP> 전 <SP> 회 장 , <SP> " 모 든...  B_PS I_PS I_PS <SP> O <SP> O O O <SP> O O O <S...
370   민 주 노 동 당 <SP> 곽 정 숙 <SP> 의 원...  B_OG I_OG I_OG I_OG I_OG <SP> B_PS I_PS I_PS <...
...                                                 ...                                                ...
7680  산 과 <SP> 들 은 <SP> 옛 날 <SP> 그 대 로...  O O <SP> O O <SP> O O <SP> O O O O O O O <SP> ...
7681  드 디 어 <SP> 쇼 단 이 <SP> 해 체 되 고 <SP> ...  O O O <SP> O O O <SP> O O O O <SP> O O O <SP> ...
7682  이 를 <SP> 위 하 아 서 도 <SP> 독 도 가 <SP>...  O O <SP> O O O O O <SP> B_LC I_LC O <SP> B_LC ...
7683  실 제 로 <SP> 대 우 가 <SP> 현 재 <SP> 분 ᄋ...  O O O <SP> B_OG I_OG O <SP> O O <SP> O O O O O...
7684  맷 <SP> 데 이 먼 은 <SP> 퍼 트 리 샤 <SP> ᄒ...  B_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_PS I_PS...

[7319 rows x 2 columns]

In [167]:
test.sentence = test.sentence.apply(j2hcj)
test

                                               sentence                                                ner
366   ㅅㅐ ㅂㅕㄱ ㅊㅜㄹ ㅈㅗ ㅅㅣ <SP> ㅇㅑ ㅇㅕㅇ ㅈㅓㄱ ㄱㅡㄱ <SP> ㄱㅝㄴ ...  B_TI I_TI O O O <SP> O O O O <SP> O O O O O O ...
367   ㅎㅏㄴ ㅍㅕㄴ <SP> ㄷㅐ ㅍㅛ ㅌㅣㅁ ㅇㅡㄴ <SP> ㅇㅣ ㄴㅏㄹ <SP> ㄱㅓ...  O O <SP> B_OG I_OG I_OG O <SP> O O <SP> B_OG I...
368   ' ㅊㅓㄴ ㅈㅐ <SP> ㄱㅗㄹ ㅈㅏㅂ ㅇㅣ ' <SP> ㅂㅏㄱ ㅈㅜ ㅇㅕㅇ ( 2...  O B_PS I_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_...
369   ㅇㅣ ㄱㅓㄴ ㅎㅢ <SP> ㅈㅓㄴ <SP> ㅎㅚ ㅈㅏㅇ , <SP> " ㅁㅗ ㄷㅡㄴ...  B_PS I_PS I_PS <SP> O <SP> O O O <SP> O O O <S...
370   ㅁㅣㄴ ㅈㅜ ㄴㅗ ㄷㅗㅇ ㄷㅏㅇ <SP> ㄱㅘㄱ ㅈㅓㅇ ㅅㅜㄱ <SP> ㅇㅢ ㅇㅝㄴ...  B_OG I_OG I_OG I_OG I_OG <SP> B_PS I_PS I_PS <...
...                                                 ...                                                ...
7680  ㅅㅏㄴ ㄱㅘ <SP> ㄷㅡㄹ ㅇㅡㄴ <SP> ㅇㅖㅅ ㄴㅏㄹ <SP> ㄱㅡ ㄷㅐ ㄹㅗ...  O O <SP> O O <SP> O O <SP> O O O O O O O <SP> ...
7681  ㄷㅡ ㄷㅣ ㅇㅓ <SP> ㅅㅛ ㄷㅏㄴ ㅇㅣ <SP> ㅎㅐ ㅊㅔ ㄷㅚ ㄱㅗ <SP> ...  O O O <SP> O O O <SP> O O O O <SP> O O O <SP> ...
7682  ㅇㅣ ㄹㅡㄹ <SP> ㅇㅟ ㅎㅏ ㅇㅏ ㅅㅓ ㄷㅗ <SP> ㄷㅗㄱ ㄷㅗ ㄱㅏ <SP>...  O O <SP> O O O O O <SP> B_LC I_LC O <SP> B_LC ...
7683  ㅅㅣㄹ ㅈㅔ ㄹㅗ <SP> ㄷㅐ ㅇㅜ ㄱㅏ <SP> ㅎㅕㄴ ㅈㅐ <SP> ㅂㅜㄴ ㅇ...  O O O <SP> B_OG I_OG O <SP> O O <SP> O O O O O...
7684  ㅁㅐㅅ <SP> ㄷㅔ ㅇㅣ ㅁㅓㄴ ㅇㅡㄴ <SP> ㅍㅓ ㅌㅡ ㄹㅣ ㅅㅑ <SP> ㅎ...  B_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_PS I_PS...

[7319 rows x 2 columns]

In [168]:
print(test.iloc[0].sentence)
print(test.iloc[0].ner)

ㅅㅐ ㅂㅕㄱ ㅊㅜㄹ ㅈㅗ ㅅㅣ <SP> ㅇㅑ ㅇㅕㅇ ㅈㅓㄱ ㄱㅡㄱ <SP> ㄱㅝㄴ ㅈㅏㅇ ㅎㅏ ㅂ ㄴㅣ ㄷㅏ <SP> .
B_TI I_TI O O O <SP> O O O O <SP> O O O O O O <SP> O

In [153]:
import csv
test.to_csv(f'ner_jamo_{mode}_ver_1.txt', sep='\t',header=False, quoting=csv.QUOTE_NONE, escapechar='\\')

# Ver_2
## 1. input  
새 벽 출 조 시 \<SP\> 야 영 적 극 \<SP\> 권 장 하 ㅂ 니 다 \<SP\> .  
B_TI I_TI O O O \<SP\> O O O O \<SP\> O O O O O O \<SP\> O  

##2. output
ㅅㅐ ㅂㅕㄱ ㅊㅜㄹ ㅈㅗ ㅅㅣ \<SP\> ㅇㅑ ㅇㅕㅇ ㅈㅓㄱ ㄱㅡㄱ \<SP\> ㄱㅝㄴ ㅈㅏㅇ ㅎㅏ ㅂ ㄴㅣ ㄷㅏ \<SP\> .  
B_TI B_TI I_TI I_TI I_TI O O O O O O O \<SP\> O O O O O O O O O O O \<SP\> O O O O O O O O O O O O O \<SP\> O

In [169]:
test = pd.read_csv(f'{root_dir}/ner_{mode}.txt',
                   sep='\t',
                   quoting=csv.QUOTE_NONE,
                   header=None,
                   names=['sentence', 'ner'],
                   index_col=0, 
                   encoding='utf8')
test

                                               sentence                                                ner
366      새 벽 출 조 시 <SP> 야 영 적 극 <SP> 권 장 하 ㅂ 니 다 <SP> .  B_TI I_TI O O O <SP> O O O O <SP> O O O O O O ...
367   한 편 <SP> 대 표 팀 은 <SP> 이 날 <SP> 건 국 대 와 <SP> 3 ...  O O <SP> B_OG I_OG I_OG O <SP> O O <SP> B_OG I...
368   ' 천 재 <SP> 골 잡 이 ' <SP> 박 주 영 ( 2 0 . 서 울 ) 이 ...  O B_PS I_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_...
369   이 건 희 <SP> 전 <SP> 회 장 , <SP> " 모 든 <SP> 국 민 이 ...  B_PS I_PS I_PS <SP> O <SP> O O O <SP> O O O <S...
370   민 주 노 동 당 <SP> 곽 정 숙 <SP> 의 원 이 <SP> 보 건 복 지 가...  B_OG I_OG I_OG I_OG I_OG <SP> B_PS I_PS I_PS <...
...                                                 ...                                                ...
7680  산 과 <SP> 들 은 <SP> 옛 날 <SP> 그 대 로 이 었 으 나 <SP> ...  O O <SP> O O <SP> O O <SP> O O O O O O O <SP> ...
7681  드 디 어 <SP> 쇼 단 이 <SP> 해 체 되 고 <SP> 나 아 서 <SP> ...  O O O <SP> O O O <SP> O O O O <SP> O O O <SP> ...
7682  이 를 <SP> 위 하 아 서 도 <SP> 독 도 가 <SP> 일 본 <SP> 영 ...  O O <SP> O O O O O <SP> B_LC I_LC O <SP> B_LC ...
7683  실 제 로 <SP> 대 우 가 <SP> 현 재 <SP> 분 양 중 이 ㄴ <SP> ...  O O O <SP> B_OG I_OG O <SP> O O <SP> O O O O O...
7684  맷 <SP> 데 이 먼 은 <SP> 퍼 트 리 샤 <SP> 하 이 스 미 스 의 <...  B_PS <SP> I_PS I_PS I_PS O <SP> B_PS I_PS I_PS...

[7319 rows x 2 columns]

In [170]:
print(test.iloc[0].sentence)
print(test.iloc[0].ner)

새 벽 출 조 시 <SP> 야 영 적 극 <SP> 권 장 하 ㅂ 니 다 <SP> .
B_TI I_TI O O O <SP> O O O O <SP> O O O O O O <SP> O

In [171]:
def isKorean(word):
    for i in word:
        if ord(i) > int('0x1100',16) and ord(i) < int('0x11ff',16) :
            return True
        if ord(i) > int('0x3131',16) and ord(i) < int('0x318e',16) :
            return True
        if ord(i) > int('0xa960',16) and ord(i) < int('0xa97c',16) :
            return True
        if ord(i) > int('0xac00',16) and ord(i) < int('0xd7a3',16) :
            return True
        if ord(i) > int('0xd7b0',16) and ord(i) < int('0xd7fb',16) :
            return True
    return False

In [173]:


# for i in test.index:
#   print(i)
#   out_sentence, out_ner = [], []
#   sentence, ner = test.loc[i]
#   print(sentence)
#   s_list, ner_list = sentence.split(' '), ner.split(' ')
#   assert len(s_list) == len(ner_list)
#   for j, s in enumerate(s_list):
#     jamo = j2hcj(h2j(s))
#     if isKorean(jamo):
#       out_sentence.append(jamo)
#       out_ner.extend([ner_list[j] for x in range(len(jamo))])
#       #print(jamo, len(jamo))
#     else:
#       out_sentence.append(s)
#       out_ner.append(ner_list[j])
#   out_sentence = ' '.join(out_sentence)
#   out_ner = ' '.join(out_ner)
#   print(out_sentence)
#   print(out_ner)

#   break

In [174]:
for i in test.index:
  #print(i)
  out_sentence, out_ner = [], []
  sentence, ner = test.loc[i]
  #print(sentence)
  s_list, ner_list = sentence.split(' '), ner.split(' ')
  assert len(s_list) == len(ner_list), f'i : {i} \n \
                                         s_list : {s_list} \n \
                                         ner_list : {ner_list} \n \
                                         {len(s_list)} {len(ner_list)}'
  for j, s in enumerate(s_list):
    jamo = j2hcj(h2j(s))
    if isKorean(jamo):
      out_sentence.append(jamo)
      out_ner.extend([ner_list[j] for x in range(len(jamo))])
      #print(jamo, len(jamo))
    else:
      out_sentence.append(s)
      out_ner.append(ner_list[j])
  out_sentence = ' '.join(out_sentence)
  out_ner = ' '.join(out_ner)
  
  test.loc[i].sentence = out_sentence
  test.loc[i].ner = out_ner

In [175]:
print(test.iloc[0].sentence)
print(test.iloc[0].ner)

ㅅㅐ ㅂㅕㄱ ㅊㅜㄹ ㅈㅗ ㅅㅣ <SP> ㅇㅑ ㅇㅕㅇ ㅈㅓㄱ ㄱㅡㄱ <SP> ㄱㅝㄴ ㅈㅏㅇ ㅎㅏ ㅂ ㄴㅣ ㄷㅏ <SP> .
B_TI B_TI I_TI I_TI I_TI O O O O O O O <SP> O O O O O O O O O O O <SP> O O O O O O O O O O O O O <SP> O

In [176]:
#test.loc[835].sentence

In [159]:
test.to_csv(f'ner_jamo_{mode}_ver_2.txt', sep='\t',header=False, quoting=csv.QUOTE_NONE, escapechar='\\')